body {
  background-color: black;
  margin: 0;
  color-scheme: dark light;
  overflow-x: hidden;
}
.page {
  color: #ffffff;
  display: flex;
}
.pages .sidebar button {
  background: #111;
  width: 100%;
}
.one {
  margin-top: 100px;
  padding-left: 12vw;
  display: block;
}
.two {
  margin-top: 100px;
  padding-left: 12vw;
  display: block;
}
.three {
  padding-left: 12vw;
  display: block;
  margin-top: 100px;
}
.four {
  padding-left: 12vw;
  display: block;
  margin-top: 100px;
}
.contact {
  margin-left: 30vw;
  margin-top: 130px;
}
.background {
  display: flex;
  min-height: 40vh;
  justify-content: center;
}
.container1 {
  flex: 0 30px;
  display: flex;
}

.screen {
  position: relative;
  background: #111;
  border-radius: 15px;
  width: 50vw;
  height: 550px;
}
.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}
.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffffff;
  font-size: 26px;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 10px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #45487b;
}
::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #000000, #000000);
}

::-webkit-scrollbar-track {
  background: #484848;
}
.dark-mode {
  position: absolute;
  left: 95vw;
  bottom: 45vw;
}
.barre-nav {
  display: flex;
  position: fixed;
  gap: 20px;
  align-items: center;
  height: 100px;
  background-color: gray;
  width: 100vw;
  margin-bottom: 200px;
}
.nav-barre {
  padding-left: 12vw;
}
.nav1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 30px;
}
.nav2 {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
}
.nav2 button {
  width: 8vw;
  height: 40px;
  border-radius: 20px;
}
.search-barre {
  height: 35px;
  width: 17vw;
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  transition: border-color 0.2s;
}
.search {
  display: flex;
  align-items: center;
}
.pages section header{
  width: 98%;
  height: 60px;
  margin: 0 auto;
  /*background: gray;*/
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}
header p span{
  font-size: 40px;
    margin: 0 5px;
    cursor: pointer;
    color: #555;
     width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
}
header p span:hover{
  background: #222;
    color: white;
}
section {
  width: 98%;
  height: 600px;
  padding-left: 12vw;
  /*background: red;*/
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
section::-webkit-scrollbar {
  display: none;
}
section .products .product {
  min-width: 24%;
  height: 90%;
  margin: 0 20px 0 20px;
  border-radius: 20px;
  position: relative;
  left: 0;
  transition: 0.5s;
}
.products {
  display: flex;
}
picture {
  width: 100%;
  height: 100%;
  padding: 0px;
  /*background: green;*/
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}
picture img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  height: 28vw;
}
.detail {
  width: 100%;
  /*background: red;*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}
small {
  display: flex;
  gap: 10px;
  color: #555;
}
small .fa:hover {
  color: #484848;
}
a {
  text-decoration: none;
  padding: 6px 14px;
  font-size: 15px;
  margin: 5px 0 0 20px;
  display: inline-block;
  background: #6773ff;
  color: white;
}
p.star {
  margin: 5px auto;
  width: 65%;
  font-size: 25px;
  color: #808080;
}
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}
.fa {
  color: #ffffff;
  align-items: center;
}

.sidebar a {
  margin: 0;
  padding: 18px 8px 28px 10px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  align-items: center;
}

.sidebar a:hover {
  color: #000000;
}
.sidebar button a .fa:hover {
  color: #000000;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
  column-gap: 0vw;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  margin: 0 auto;
  padding: 20px;
}
.grid-item small {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}
.grid-item img {
  border-radius: 20px;
  width: 20vw;
  height: 25vw;
}
@media (max-width: 1360px) {
  .nav1 h1 {
    display: none;
  }
}
@media (max-width: 768px) {
  .text h1 {
    font-size: 35px;
  }
  .text p {
    width: 90%;
  }
  header h1 {
    font-size: 25px;
  }
  header p span {
    font-size: 30px;
  }
  section .product {
    min-width: 49%;
    margin: 0 10px 0 0;
  }
  .detail,
  .button {
    font-size: 16px;
    margin-bottom: 15vw;
  }
  a {
    padding: 6px 10px;
  }
  .barre-nav {
    gap: 0px;
    margin-bottom: 0px;
    height: 25vw;
  }
  .nav1 {
    gap: 0px;
    margin-left: 2vw;
  }
  .nav2{
    display: flex;
    flex-wrap: wrap;
    height: 23vw;
    margin-left: -3vw;
  }
  .nav2 img{
    display: none;
  }
  .nav2 button{
    width: 20vw;
    height: 10vw;
  }
  .nav1 img {
    width: 25vw;
    height: 15vw;
  }
  .nav1 .search img {
    width: 18vw;
    height: 20vw;
  }
  .search-barre {
    margin-left: 0px;
    width: 25vw;
  }
  .products {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .product {
    margin: 20px;
  }
  picture img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 80vw;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 5px;
  }
  .grid-item img {
    width: 50vw;
    height: 80vw;
  }
  header {
    height: 0px;
    margin-bottom: 0px;
  }
  header p {
    display: none;
  }
  .sidebar {
    width: 15vw;
    display: block;
  }
  .sidebar a {
    margin: 0;
    padding: 18px 8px 28px 0px;
  }
  .sidebar button {
    height: 25vw;
  }
  .sidebar a .fa {
    display: block;
    justify-content: center;
  }
  .sidebar a span {
    display: none;
  }
  .screen {
    border-radius: 15px;
    width: 75vw;
    height: 100%;
  }
  .screen-body {
    padding-right: 20vw;
  }
  .screen-body-item {
    padding: 10px;
    width: 70vw;
  }
  .contact {
    margin-left: 20vw;
  }
}
