

*, *:before, *:after {
  box-sizing: border-box
}
body {
    margin: 0;
    background-image: linear-gradient(to top, #000000, #0e0308, #150813, #0e0308, #161225, #161225, #35364c, #454a61, #717386, #9f9fac, #cfced5, #ffffff);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.ect{
  text-decoration: none;
  color: #ffffff
}

.ect:hover {
  text-decoration: underline;
}

.movie-card {
  font: 14px/22px ;
  color: #000000;
  padding: 40px 0;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
}
.container {
  margin: 0 auto;
  width: 80vw;
  height: 640px;
  background: #F0F0ED;
  border-radius: 5px;
  position: relative;
}

.hero {
  height: 342px;  
  margin:0;
  position: relative;
  overflow: hidden;
  z-index:1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
    
}

.hero:before {
  content:'';
  width:100%; height:100%;
  position:absolute;
  overflow: hidden;
  top:0; left:0;
  background:red;
  background: url(1142818.jpg);
  z-index:-1;
  background-position: center;
  transform: skewY(-2.2deg);
  transform-origin:0 0;
  -webkit-backface-visibility: hidden; 
  
}

.cover {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 2;
  height: 290px;
}

.details {
  
  padding: 270px 0 0 300px;
  
  
  .title1 {
    color: white;
    font-size: 44px;
    margin-bottom: 13px;
    position: relative;
    
    span {
      position: absolute;
      top: 3px;
      margin-left: 12px;
      background: #C4AF3D;
      border-radius: 5px;
      color: #544C21;
      font-size: 14px;
      padding: 0px 4px;
      
    }
  }

  .title2 {    
    color: #000000;
    font-size: 23px;    
    font-weight: 300;
    margin-bottom: 15px;
  }


}

.description {
  
  bottom: 0px;
  height: 200px;
  font-size: 20px;
  line-height: 32px;
  color: #B1B0AC;
  
}

.column1 {
  padding-left: 50px;
  padding-top: 120px;
  width: 220px;
  float: left;
  text-align: center;
}

.tag {
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag:hover {
  background: #ddd;
}

.column2 {
  padding-left: 41px;
  padding-top: 30px;
  margin-left: 20px;
  width: 60vw;
  float: left;
}

@media only screen and (max-width: 768px) {
    .details {

        padding: 240px 0 0 250px;
    }
    .column2{
        display: flex;
        padding-left: 41px;
        padding-top: 30px;
        margin-left: -4vw;
        width: 350px;
        float: left;
    }
    .container {
        margin: 0 auto;
        width: 780px;
        height: 940px;
        background: #F0F0ED;
        border-radius: 5px;
        
      }
      .description {
  
        bottom: 0px;
        height: 200px;
        font-size: 20px;
        line-height: 22px;
        color: #B1B0AC;
        
      }
}
.first-page {
    width: 90%;
    height: 590px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    overflow: hidden;
    margin-top: 60px;
}


.second-page {
    text-align: center;
    padding: 60px 0px 20px 0px;
}
.carousel-control-next .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.third-page {
    padding: 100px 0px 0px 0px;
}

.forth-page {
    padding: 90px 0px 0px 0px;
}

.second-page>h2 {
    font-size: 50px;
    color: #ccccd2;
    margin: 50px;
}



.title>h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

.nav-barre {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #cfced5;
    position: fixed;
    width: 100vw;
    height: 80px;
    align-items: center;
    box-sizing: border-box;
    z-index: 2;
}

.nav-container {
    list-style: none;
    float: right;
    font-size: 25px;
    margin: 30px;
    color: #ffffff;
}

.btn-group>.dropdown-toggle {
    position: relative;
    display: none;
    vertical-align: middle;
}

.nav-container>.A {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-container>.A:hover {
    color: #454a61;
}

.page-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 20px;
}

.card1 {
    width: 400px;
    border: 1px #252438 solid;
    border-radius: 40px;
    box-shadow: 0 0 50px black;
    overflow: hidden;
}
.card1:hover{
    box-shadow:0 0 50px #ccccd2;
}

.card2 {
    width: 400px;
    border: 1px #252438 solid;
    border-radius: 40px;
    box-shadow: 0 0 50px black;
    overflow: hidden;
}
.card2:hover{
    box-shadow:0 0 50px #ccccd2;
}

.card3 {
    width: 400px;
    border: 1px #252438 solid;
    border-radius: 40px;
    box-shadow: 0 0 50px black;
    overflow: hidden;
}
.card3:hover{
    box-shadow:0 0 50px #ccccd2;
}

.card-image1 {
    background-image: url(yuji.jpg);
    background-position: center;
    background-size: cover;
    height: 350px;
    border-radius: 10px 10px 0px 0px;
}

.card-image2 {
    background-image: url(migumi.jpg);
    background-position: center;
    background-size: cover;
    height: 350px;
    border-radius: 10px 10px 0 0;
}

.card-image3 {
    background-image: url(nobara.jpg);
    background-position: center;
    background-size: cover;
    height: 350px;
    border-radius: 10px 10px 0 0;
}

.card-text {
    color: #ffffff;
}



.third-page>h2 {
    text-align: center;
    color: #ccccd2;
    font-size: 50px;
}

.forth-page>h2 {
    text-align: center;
    color: aliceblue;
    font-size: 50px;
    padding: 10px;
}

video {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.background {
    display: flex;
    min-height: 50vh;
    margin-left: 4%;
}

.container1 {
    flex: 0 30px;
    display: flex;
}

.screen {
    position: relative;
    background: #35364c;
    border-radius: 15px 0px 0px 15px;
    width: 50vw;
    height: 550px;
    border-radius: 5px;
}


.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ffffff;
    font-size: 26px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ffffff;
}

.app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 10px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: #45487b;
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.img-contact {
    background-image: url(phi.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
    height: 549px;
    border-radius: 0px 20px 20px 0px;
}
.fin>h2{
    font-size: 40px;
    color: #9f9fac;
   text-align: center;
    margin-top: 80px;
}
.fin{
    background-color:rgba(35, 36, 48, 0.8) #35364c;
    padding: 0px 0px 10px 0px;
    text-align: center;
}
.fa-brands:hover{
color: white;
}
.icons {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

}


@media screen and (max-width: 600px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}

@media only screen and (max-width: 768px) {
    .nav-barre {
        width: 100%;
        flex-direction: row;
        padding: 0 20px;

    }

    .nav-container {
        display: none;
    }

    .btn-group>.dropdown-toggle {
        display: block;
        background-color: #454a61;
        color: white;
        border-radius: 5px;
        padding: 15px 20px;
        border: none;
    }

    .btn-group>.dropdown-toggle:active {

        outline: 3px solid;
    }

    .cards-container {
        grid-template-columns: repeat(1, auto);
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 0.2em 0;
    }

    .first-page {
        width: 100%;
        height: 100% !important;
    }
    .third-page{
        width: 100%;

    }
    .screen-body{
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        
    }
    .page-container {
        width: 19%;
        display: block;
        margin: 10px;
        text-align: center;


    }

    .page-container>.card1 {
        width: 500%;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .page-container>.card2 {
        width: 500%;
        flex-direction: column;
        margin-bottom: 20px;

    }

    .page-container>.card3 {
        width: 500%;
        flex-direction: column;

    }

    .nav-barre>.title>h1 {
        font-size: 30px;
    }

    .second-page>h2 {
        font-size: 30px;
        text-align: center;
    }

    .third-page>h2 {
        font-size: 30px;
        text-align: center;
    }

    .forth-page>h2 {
        font-size: 30px;
        text-align: center;
    }

    .img-contact {
        display: none;
    }

    .container1>.screen {
   width: 200%;
    }
}